#header {
  grid-area: head;
  background-image: url("/assets/logo.png");
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: row;
  height: 100%;
  color: rgb(0, 0, 0);
  justify-content: space-around;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#header h1 {
  font-size: 1em;
  font-weight: bolder;
}

#header h2 {
  font-size: 0.5em;
}

#header button {
  background-color: #c2adc6;
  border: none;
  border-radius: 5px;
  margin: 5px;
  font-size: 0.6em;
  font-weight: bold;
}

#header span {
  font-size: 1.2em;
}

#header input {
  border-radius: 5px;
  width: 60%;
}

#header a {
  font-size: 5px;
  display: none;
}

#content_body {
  grid-area: posts;
  background-color: rgb(235, 235, 235);
  flex-direction: row;
  flex-wrap: wrap;
  align-items: start;
  justify-content: start;
}

#freq {
  grid-area: freq;
  background-color: rgb(235, 235, 235);
  border-bottom-left-radius: 30px;
  padding: 10px;
  justify-content: flex-start;
}

#navigator {
  grid-area: navigate;
  border-bottom-right-radius: 30px;
  background-color: rgb(235, 235, 235);
  justify-content: flex-start;
}

#logo_group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  line-height: 2;
  text-decoration: underline;
  font-size: larger;
}

