
#header {
  grid-area: head;
  background-image: url("/assets/logo.png");
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: row;
  height: 100%;
  color: rgb(0, 0, 0);
  justify-content: space-around;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#header h1 {
  font-size: 1em;
  font-weight: bolder;
}

#header h2 {
  font-size: 0.5em;
}

#header button {
  background-color: #c2adc6;
  border: none;
  border-radius: 5px;
  margin: 5px;
  font-size: 0.6em;
  font-weight: bold;
}

#header span {
  font-size: 1.2em;
}

#header input {
  border-radius: 5px;
  width: 60%;
}

#header a {
  font-size: 5px;
  display: none;
}

#content_body {
  grid-area: posts;
  background-color: rgb(235, 235, 235);
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

#freq {
  grid-area: freq;
  background-color: rgb(235, 235, 235);
  border-bottom-left-radius: 30px;
  padding: 10px;
  justify-content: flex-start;
}

#navigator {
  grid-area: navigate;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  border-bottom-right-radius: 30px;
  background-color: rgb(235, 235, 235);
  justify-content: flex-start;
  align-items: center;
}

.home-link {
  display: flex;
  padding: 30px;
  border-radius: 8px;
  font-size: x-large;
  margin: 10px;
  justify-content: center;
  border: 1px solid rgb(76, 71, 71);
  background-color: rgb(228, 255, 255);
}

#logo_group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  line-height: 2;
  text-decoration: underline;
  font-size: larger;
}

.top-menu{
  position: fixed;
  top: 0px;
  display: flex;
  width: 100%;
  background: #c7c7c7;
  padding: 16px;
  justify-content: space-between;
}

.menu-item{
  font-size: 20px;
  margin-left: 16px;
  margin-right: 16px;
}

.menu-item:hover{
  opacity: 0.7
}

.right-section{
  display: flex;
  gap: 5
}

.search-input{
  margin-right: 16px;
}

.footer{
  display: flex;
  grid-area: footer;
  justify-content: space-around;
  width: 90vw;
  background: #c7c7c7;
  padding: 20px;
margin: auto;
}

.footer-anchor{
  padding: 5px;
}

