html {
  font-family: sans-serif;
}

.container {
  display: grid;
  grid-gap: 8px;
  width: 90vw;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  justify-content: center;
  grid-template-columns: 1fr;
  grid-template-areas: "head" "posts" "freq" "navigate" "footer";
}

.area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
