@import url(../styles/responsiveness.css);

/* Basic Styling */

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background: #f4f4f9;
  margin: 0;
  padding: 20px;
  color: #333;
}

.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "hd hd hd" "main main main" "ft ft ft";
  margin: auto;
  padding: 10px;
  justify-content: center;
  background: #fff;
  border-radius: 20px;
}

h1 {
  font-size: 2em;
  margin-bottom: 10px;
  color: #333333;
}

header {
  display: grid;
  grid-template-rows: 20% 80%;
  grid-template-areas: "blogNav" "blogHead";
  padding: 20px;
  background-color: #f8f8f8;
  grid-area: hd;
}

 header a img {
  width: 100%;
}

.back-button {
  padding: 10px 15px;
  font-size: 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
}

.logo {
  height: 100px;
}

main {
  padding: 20px;
  grid-area: main;
}
.post-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}
.post-logo img {
  max-width: 100%;
  border-radius: 5px;
}

figcaption {
  text-align: center;
  margin: 5px;
  font-size: 14px;
  color: #4b4b4b;
}

.content section,
.content article {
  font-size: 18px;
  line-height: 1.6;
  margin: 10px; 
  text-align: justify;
}

footer {
  padding: 20px;
  background-color: #f8f8f8;
  text-align: center;
  grid-area: ft;
}

footer p {
  font-size: 14px;
  color: #777;
}


.post-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
}

.post-head img {
  width: 50%;
}

.pub-details {
  display: block;
}

#blog-post-nav {
  grid-area: blogNav;
  background-color: #777;
  border-radius: 5px;
  
}

#blog-post-nav ul a {
  text-decoration: none;
  color: aliceblue;
}

#blog-post-nav ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  padding: 16px;

}



#blog-post-head {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  grid-area: blogHead;
}